/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/*
/.well-known
/cgi-bin
/public/pdf/*
/public/uploads/*
/public/admin_upload_images/*
deploy.log
fullcode.zip
/old
/old_code

